<nav class="navbar is-transparent is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <img src="/assets/geodatasets.svg" width="112" height="28">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Inicio
        </a>
  
        <a class="navbar-item">
          Documentacion
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Mas
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item">
              Acerca de 
            </a>
            
            <a class="navbar-item">
              Contacto
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Reportar un bug
            </a>
          </div>
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary is-rounded">
              <strong>Registrarse</strong>
            </a>
            <a class="button is-primary is-light is-rounded">
              Entrar
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>